img {
  display: block;
  width: 80%;
  max-width: 500px;
  height: auto;
  margin: 20px auto;
}

body {
  text-align: center;
}

button {
  display: block;
  width: 90%;
  max-width: 500px;
  margin: 10px auto;
  padding: 12px;
}
